{% extends "admin_base.html" %}
{% block content %}
<h2>Mapping pour {{ job.table_cible }}</h2>
<form method="post" action="{% url 'import_mapping' job.id %}">
  {% csrf_token %}
  {% for champ in champs_bdd %}
    <label>{{ champ }}</label>
    <select name="map_{{ champ }}">
      <option value="">-- Ne pas utiliser --</option>
      {% for col in colonnes %}
        <option value="{{ col }}">{{ col }}</option>
      {% endfor %}
    </select><br>
  {% endfor %}
  <button type="submit">Envoyer au prétraitement</button>
</form>
{% endblock %}
